<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sports Club</title>
</head>


<body>

    <header>
        <div>
            <ul>
                <li>
                    <a href="/" style="font-style: italic; font-weight: 700; color: #AFD275; font-size: 24px; margin-right: 30px;">СПОРТСИЛА</a>
                </li>
                <li>
                    <a href="{% url 'gyms:gyms' %}">Спортзалы</a>
                </li>
                <li>
                   <a href="{% url 'gyms:trainer' %}">Тренеры</a>
                </li>
                <li>
                    <a href="{% url 'gyms:service' %}">Услуги</a>
                </li>
                <li>
                    <a href="{% url 'articles:index' %}">Блог</a>
                </li>
                <li>
                    <a href="/admin/">Админ</a>
                </li>
            </ul>
        </div>
        <div>
            <form action="{% url 'gyms:gyms' %}" method="get">
                {% csrf_token %}
                <input class="search" type="text" name="Поис" placeholder="спортзалы">
                    <button type="submit" id="button">найти</button>
            </form>
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'users:login' %}?next={{ request.path }}"> Логин </a>
                <a href="{% url 'users:register' %}?next={{ request.path }}"> Регистрация </a>
            {% endif %}
        </div>
    </header>

    <main>
        <div class="item"></div>
        <div class="item-center">
            {% if messages %}
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            {% endif %}

            {% block body %}
                <h1>Сеть спортклубов СПОРТСИЛА</h1>
                <img src="https://vaultgym.by/images/01622206694.jpg"/>
                <h1>О Клубе</h1>
                <h3> Фитнесс клуб IRON рад встрече и приветствует каждого, кто ценит своё здоровье, красоту и время.

Наши профессиональные специалисты помогут Вам достичь Ваших целей, поставленных задач, восстановиться после травм. Познакомят вас с Вашими возможностями. Научат управлять своим телом и строить его.

Если Вы хотите изменить себя, не важно какой у Вас уровень важно Ваше желание!

В нашем клубе есть возможность тренироваться как самостоятельно, так и индивидуально или сплит тренировки с тренером. Так же постоянно ведется набор и действуют группы до 5-ти человек по направлениям: женский фитнес (уменьшение или набор массы тела, восстановление после родов, травм, операций, общее улучшение физического здоровья, составление плана питания), группы единоборств (классический бокс и тайский бокс, мма), функциональный тренинг (Crossfit).

Приглашаем детей в детскую группу «Вездеход», в которой ребенок сможет развиваться физически разносторонне, он получит начальную подготовку по: ОФП, классический и тайский бокс, кроссфит. Спорт как нельзя лучше способствует закладывает основы здорового образа жизни.

В клубе имеется замечательная возможность восстановиться и расслабиться, посетить «кедровую бочку» и воспользоваться услугой специалиста по массажу.

Во время тренинга важно отслеживать свой результат и грамотно составлять свой рацион, план питания. Для этого у нас установлен аппарат для измерения состав тела (биоэмпиданс).
                </h3>
                <img src="https://vaultgym.by/images/11622206694.jpg"/>
                <h1>Наши принципы</h1>
                <h3>


- Безопасность, чистота и комфорт;

- Профессионализм и постоянное повышение квалификации наших специалистов;

- Актуальность, мы идем в ногу со временем;

- Индивидуальный подход к каждому, подбор программы, составление плана питания.

                </h3>
                <img src="https://vaultgym.by/images/61622206695.jpg"/>
                <h1>Наша миссия</h1>
                <h3>
Мы команда профессионалов своего дела и единомышленников, которая готова научить людей раскрыть себя и свои возможности. Мы поможем Вам не останавливаться на достигнутом.

Мы уверены, что спорт и фитнес делает жизнь лучше и готовы делиться с Вами этой уверенностью.

                </h3>
                <img src="https://vaultgym.by/images/31622206695.jpg"/>
                <h1>Почему выбирают именно нас?</h1>
                <h3>
                Современное оборудвания

Качественное оборудование от мировых брендов, на все группы мышц, с помощью которого, любитель или профессионал, сможет достичь поставленных целей. Разнообразная кардио зона, зона свободных весов более 4м. Инвентарь для функционального фитнеса и единоборств.
Продуманное пространство

Удобны и просторный зал, площадью более 600кв.м с выверенным продуманным пространством, распределенный по направлениям на зоны.
Фитнес бар

В нашем баре представлен широкий ассортимент спортивного питания. Коктейли на основе качественного протеина, аминокислотные добавки, низкокалорийные батончики, чай, кофе. Так же есть свободный доступ к фильтрованной воде.
Система вентиляции

Мощная система вентиляции постоянно обеспечивает как приток нового воздуха так и удаления застоявшегося воздуха а система климат-контроля позволяет сделать комфортными тренировки в самую сильную жару.
Детская зона

Мягкая детская зона, позволит провести время с комфортом и пользой. Ребенок может заняться любимым делом: рисованием, чтением.
Контроль здоровья

В нашем клубе установлен современный аппарат для измерения состава тела(биоимпеданс). Этот метод диагностики позволяет следить за изменением в организме, анализировать методы тренинга, а также подобрать индивидуальный план питания.
Массажный кабинет

Профессиональные специалисты помогут восстановиться, расслабиться, пройти реабилитацию, улучшить общее состояние и быстрее добиться планируемого результата. Кедровая бочка, дополняет и усиливает эффект расслабления и восстановления.
Бесплатная парковка

Просторная по площади парковка, дает возможность оставить автомобиль на время тренировки. Так же для владельцев электромобилей имеются зарядные станции.

                </h3>
            {% endblock %}
        </div>
        <div class="item"></div>
    </main>

</body>

<style>

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul > li {
        display: inline-block;
        margin: 0 5px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #27263D;
    }

    main {
        display: flex;
    }

    .item {
        height: 90vh;
        width: 100vh;
    }

    .item-center {
        flex-grow: 1;
    }

    {% block style %}{% endblock %}

    * {
        text-decoration: none;
    }

    body {
        margin: 0;
        background: #1A1A1D;
        color: #C9A66B;
        text-align: center;
    }

    a:visited {
        color: white;
    }

    a:link {
        color: white;
    }

    a:hover {
        color: #AFD275;
    }

    .message {
        color: #AFD275;
        text-align: center;
        font-weight: 700;
    }
</style>

</html>