{% extends 'gyms/base.html' %}
{% load static %}

{% block body %}
    {% if gym_list %}
        <h1> Спортзалы </h1>
        <span>
            {% if gym_list.has_previous %}
                <a href="?page={{ gym_list.previous_page_number }}">предыдущая</a>
            {% endif %}
            <span class="current">
                {{ gym_list.number }} из {{ gym_list.paginator.num_pages }}
            </span>
            {% if gym_list.has_next %}
                <a href="?page={{ gym_list.next_page_number }}">следующая</a>
            {% endif %}
        </span>

        {% for gym in gym_list %}
            <a href="{% url 'gyms:gyms_details' gym.id %}">
                <img src="{% static gym.image.url %}" width="1000vh" height="600vw"/>
                <h1 style="margin: 5px"> {{ gym.name }}</h1>
                <p style="margin: 0 0 50px 0"> {{ gym.Address }}</p>
            </a>
        {% endfor %}
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
{% endblock %}