{% extends 'gyms/base.html' %}
{% load static %}

{% block style %}
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .grid > div {
        flex: 0 32%;
        height: 100px;
        margin-bottom: 10px;
    }
{% endblock %}

{% block body %}
    <h1> {{ gym.name }} </h1>
    <img src="{% static gym.image.url %}" width="1000vh" height="600vw"/>
    <p>{{ gym.description }}</p>
    <div>{{ gym.map | safe }}</div>
    <p>{{ gym.Address }}</p>
    <p>{{ gym.Contacts }}</p>

    <h1> Услуги </h1>
    {% for services in service_list %}
        <a href="{% url 'gyms:service_details' gym_id=gym.id service_id=services.id %}">
            <img src="{% static services.image.url %}" width="1000vh" height="600vw"/>
            <h1 style="margin: 5px"> {{ services.name }}</h1>
            <p style="margin: 0 0 50px 0"> {{ services.description }}</p>
        </a>
    {% endfor %}

    <h1> Тренеры </h1>
    <div class="grid">
        {% for trainer in gym.trainer.all %}
        <a href="{% url 'gyms:trainer_details' trainer.id %}">
            <img src="{% static trainer.image.url %}" width="200vw" height="250vh"/>
            <h1> {{ trainer.first_name }} </h1>
        </a>
    {% endfor %}
    </div>
{% endblock %}