{% extends 'gyms/base.html' %}

{% block body %}
    {% if hall_list %}
        <ul>
            {% for hall in hall_list %}
                <a href="{% url 'gyms:detail' hall.id %}">
                    <img src="https://koloro.ua/public/files/images/content/5a467451c5c18.jpg" width="1000vh" height="600vw"/>
                    <h1> {{ hall.name }}</h1>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
{% endblock %}