{% extends 'gyms/base.html' %}
{% load static %}

{% block body %}
    {% if service_list %}
        {% for subscription in service_list %}
            <h1> Абонемент в {{ gym.name }} </h1>
            <img src="{% static subscription.image.url %}" width="1000vh" height="600vw"/>
            <h3 style="margin: 5px"> {{ subscription.name }}</h3>
            <p style="margin: 0 0 10px 0"> {{ subscription.description }}</p>

            <form action="{% url 'gyms:subscription_view' gym_id=gym.id service_id=subscription.service.id subscription_id=subscription.id %}" method="post" style="margin: 0 0 50px 0">
                {% csrf_token %}
                <input type="submit" value="преобрести за {{ subscription.price }}">
            </form>
        {% endfor %}
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
{% endblock %}