{% extends 'gyms/base.html' %}
{% load static %}

{% block body %}
    {% if articles_list %}
        <h1>Блог о спорте</h1>
            {% for article in articles_list|dictsort:'title' %}
                <a href="{% url 'articles:detail' article.id %}">
                    <img src="{% static article.image.url %}" width="800vh" height="600vw"/>
                    <h3 style="margin: 0 0 50px 0"> {{ article.title }}</h3>
                </a>
            {% endfor %}
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
{% endblock %}